html,body
{
    width:100%;
    height:100%;
    display:block; 
    margin:0px;
    padding:0px;  
    overflow:hidden;
}

#banner
{
    width:100%;
    height:79px;
    display:block;
    font-family:"宋体";
    font-size:48px;
    line-height:79px;
    text-align:center;   
    font-weight:bold;
    color:#333;
    border-bottom:solid 1px #ccc;
}

#main
{
    width:100%;
    display:block;
    clear:both;
    border-bottom:solid 1px #ccc;
}

#footer
{
    width:100%;
    height:20px;
    display:block; 
    clear:both; 
}
#footer a:link,a:visited
{
    display:block;
    width:80px;
    height:19px;
    font-size:13px;
    color:#333;
    line-height:19px;
    text-align:left;
    float:right;
    text-decoration:none;
}
#footer a:hover
{
    display:block;
    width:80px;
    height:19px;
    font-size:13px;
    color:#f55;
    line-height:19px;
    text-align:left;
    float:right;
    text-decoration:underline;
}

#sideBar
{
    height:100%;
    width:199px;
    border-right:solid 1px #ccc; 
    display:block;
    float:left;  
}
#mainContain
{
    height:100%;
    width:0px;
    display:block;
    float:left;
}

#sideBar img
{
    width:120px;
    height:60px;
    margin:20px 39px 0px 40px;
    cursor:pointer;
}

#mainContain > div
{
    width:100%;
    height:100%;
    display:block;
}

#page0
{
    text-align:center;   
    line-height:400px;
    font-size:48px;
}

#page1
{
    text-align:center;   
    line-height:400px;
    font-size:48px;
}
#page2
{
       
}

#labelToolBar
{
    width:100%;
    height:24px;
    display:block;
    overflow:hidden;
    border-bottom:solid 1px #ccc;
}

#labelToolBar label
{
    font-size:12px;
    display:block;
    float:left;
    height:24px;
    line-height:24px;
    width:50px;
    margin:0px 10px;
}

#labelType,#labelPerPage
{
    font-size:12px;
    display:block;
    float:left;
    height:20px;
    line-height:20px;
    text-align:center;
    width:80px;
    margin:2px 10px 2px 0px;
}

#labelPager,#labelMsg
{
    width:240px;
    height:24px;
    line-height:24px;
    text-align:left;
    display:block;   
    float:left; 
    font-size:12px;
    color:#333;
    font-family:"宋体";
}

#labelContent
{
    width:100%;
    height:100%;
    display:block;   
}

#labelMap
{
    height:100%;
    width:0px;
    display:block;
    float:left;
    overflow:hidden;
}

#labelList
{
    width:299px;
    height:100%; 
    display:block;
    float:left;
    border-left:solid 1px #ccc;  
}
.map2dDisplay
{
	width:100%;
	height:100%;
	display:block;
}
.map2dHide
{
	display:none;
}

.LabelContentListIMG
{
    width:25px;
    height:34px;
    display:block;
    border:none;
    float:left;
    margin:14px 5px 8px 14px;
}

#labelVerifyPage .labelTable
{
   width:100%;
   height:100%;
   margin:0px;
   padding:0px;
   border:solid 1px #ccc;
   font-size:12px;
}

#labelVerifyPage .labelTr
{
    width:600px;
    height:40px;
    line-height:40px;
    display:block;
    margin:0px;
    padding:0px;
    border-bottom:solid 1px #ccc;
}

#labelVerifyPage .labelTdTitle
{
    width:120px;
    height:40px;
    line-height:40px;
    margin:0px;
    padding:0px;
    text-align:left;
    border-right:solid 1px #ccc;
}

#labelVerifyPage .labelTdContent
{
    width:500px;
    height:40px;
    line-height:40px;
    margin:0px;
    padding:0px;
    text-align:left;
    border-right:solid 1px #ccc;
}

#labelVerifyPage .labelTdControl
{
    width:120px;
    height:40px;
    line-height:40px;
    margin:0px;
    padding:0px;
    text-align:center;
    border-right:solid 1px #ccc;
}




.QueryPageList
{
	background-color:white;
	width:400px;
	margin:0px;
	padding:0px;
	height:24px;
	line-height:24px;
	left:0px;
	bottom:0px;	
	text-align:left;
}


.PageList
{
    margin:0px auto; 
    height:24px;  
    display:inline-block;
}

.QueryPageItem
{
	width:auto;
	height:16px;
	margin:4px 2px;
	padding:0px 4px;
	display:block;
	float:left;
	line-height:16px;
	font-size:11px;
	text-align:center;
	border:solid 1px #056559;
	background-color:#fff;
	cursor:pointer;
	border-radius:1px;	
}

#labelVerifyPageBody
{
 
    width:100%;
    height:500px;
}