*
{
	margin:0px;
	padding:0px;
	
}

html,body
{
	width:100%;
	height:100%;
	overflow:hidden;
}

#header
{
	width:100%;
	height:78px;
	display:block;
	background-image:url(../IMG/title/banner.jpg);	
	background-repeat:repeat-x;
	overflow:visible;
	clear:both;
}

#header #logo
{
    width:457px;
    height:64px;
    display:block;
    position:relative;
    left:0px;
    top:14px;
    background-image:url(../IMG/title/logo.png);	
	background-repeat:no-repeat;
    
}
#header #flashtitle
{
	width:974px;
	height:78px;
	border:none;
	display:block;
	float:right;
}
#nav
{
	width:100%;
	height:34px;
	display:block;
	background-image:url(../IMG/ui/nav/nav_bg.png);
	background-repeat:repeat;
	line-height:34px;
	overflow:hidden;
}
#nav #weatherWater
{
    width:120px;
    height:25px;
    display:block;
    float:left;
    margin:4px 0px 4px 10px;
    background-image:url(../IMG/ui/nav/weatherWater.png);
    
}
#nav #weatherFrame
{
    width:190px;
    height:20px;
    display:block;
    float:left;
    margin:4px 0px 10px;
    background-color:Transparent;
    
}

#nav #toolBar
{
    width:520px;
    height:34px;
    display:block;
    margin:0px 20px 0px 20px;
    float:left;
}

#toolBar img
{
	border:none;
	display:block;
	float:left;
	height:22px;
	width:46px;
	margin:6px 3px;
	display:block;
	cursor:pointer;
}
#nav #userPanel
{
    border:none;
    display:block;
    float:right;
    margin:8px 60px 8px 0px;
    padding:0px;
    cursor:pointer;
    width:154px;
    height:19px;
}

#userPanel img
{
    border:none;
    display:block;
    float:right;
    padding:0px;
    cursor:pointer;
    width:54px;
    height:19px;
    
}
#userPanel a
{
    border:none;
    display:block;
    float:left;
    padding:0px;
    cursor:pointer;
    text-decoration:none;
    text-align:center;
    width:54px;
    height:19px;
    line-height:19px;
    font-size:13px;
    color:White;
}

#userPanel span
{
    border:none;
    display:block;
    float:left;
    padding:0px;
    cursor:default;
    text-align:right;
    width:100px;
    height:19px;
    line-height:19px;
    font-size:14px;
    font-family:"黑体";
    font-weight:bold;
    color:White;
}


#mainbody
{
	display:block;
	width:100%;	
}



#mainbody #leftPanel
{
	display:block;
	float:left;
	width:309px;
	height:100%;
	border-right:solid 1px #ccc;
	
}

#mainbody #rightPanel
{
	display:block;
	float:left;
	height:100%;
}

#leftPanel #controlBar
{
    display:block;
    float:left;  
    width:69px;
    height:100%; 
    overflow:hidden;
    background-image:url(../IMG/ui/ctrl/controlBarBg.png);
    background-repeat:repeat-y;
}
#controlBar img
{
    border:none;
    width:69px;
    height:52px;
    display:block; 
    margin:4px 0px;  
}
#leftPanel #panelContainer
{
    display:block;
    float:left;
    width:240px;
    height:100%;
    overflow:hidden;
}

#panelCanvas
{
    height:100%;
    width:1440px;
    display:block;
    background-image:url(../IMG/ui/panel_bg.png);
    position:relative;
    top:0px;
    left:0px;   
    
}
#panelCanvas > div
{
    height:100%;
    width:240px;
    display:block;
    float:left;
    overflow:hidden;
       
}
#poiSearchPage
{
    overflow:hidden;
}

.panelTitle
{
    width:224px;
    height:60px;
    display:block;
    margin:20px 8px 0px;
    background-image:url(../IMG/ui/panel/title.png);
}

.panelBody
{
    width:224px;
    height:auto;
    display:block;
    margin:0px 8px;
    background-image:url(../IMG/ui/panel/body.png);
    background-repeat:repeat-y;
    font-size:14px;
    color:#555;
}

.panelFooter
{
    width:224px;
    height:35px;
    display:block;
    margin:0px 8px;
    background-image:url(../IMG/ui/panel/footer.png);
}


#rightPanel #newmap
{
	display:block;	
	width:100%;
	height:100%;
}

#footer
{
	display:block;
	width:100%;
	height:27px;
	line-height:27px;
	text-align:center;
	font-size:12px;
	color:#666;
	background-image:url(../IMG/ui/footer_bg.png);	
	background-repeat:repeat-x;
}

#footer a:link,a:visited,a:active
{
    color:#666;
    text-decoration:none;
}
#footer a:hover
{
    color:#666;
    text-decoration:underline;
}

#swapBar
{
	width:298px;
	height:25px;
	display:block;
	background-image:url(../IMG/ui/menu/menu_bg.jpg);
	background-repeat:repeat-x;
}

#swapBar ul
{
	width:240px;
	height:25px;
	display:block;
	margin:0px 29px;
	border:none;
	list-style:none;	
}

#swapBar ul li
{
	width:76px;
	height:25px;
	display:block;
	float:left;
	margin:0px 2px;
	border:none;
	list-style:none;
	cursor:pointer;	
	line-height:25px;
	font-size:14px;
	text-align:center;

}

#swapBar .listActive
{
	background-image:url(../IMG/ui/menu/menuitem.jpg);
	background-repeat:no-repeat;
	color:#fff;
}

#swapBar .listInactive
{
	background-image:url();
	background-repeat:no-repeat;
	color:#222;
}

#swapPanel
{
	width:100%;
	height:120px;	
	border-bottom:solid 1px #ccc;
}

#searchPanel,#carPanel,#busPanel
{	
	width:100%;
	height:100%;

}

#searchPanel #searchControl
{
	width:100%;
	height:70px;
	display:block;	
}

#searchPanel #hotwords
{
	width:100%;
	height:50px;
	display:block;
}

.panelShow
{
	display:block;	
}

.panelHide
{
	display:none;
}

#panelContainer
{
	width:100%;
	height:100%;
	display:block;	
	
}

#facePanel
{
	width:100%;
	height:100%;	
	overflow:hidden;
}

#keyPanel
{
    width:100%;
    height:100%;
}



#hotwords  a
{
	font-size:12px;
	margin:0px 4px;
	cursor:pointer;
	
}

#classifyControl
{
    width:100%;
    height:95px;
    clear:both;
    border-bottom:solid 1px #ccc;
	
}

#classifyControl .Title
{
	width:278px;
	height:30px;
	line-height:30px;
	margin:0px 10px;
	font-size:13px;
	color:#454545;
	text-align:left;
	
}
#classifyIcon 
{
	width:269px;
	height:65px;
	display:block;
	margin:0px 14px 0px 15px;
}

#classifyIcon img
{
	border:none;
	height:65px;
	display:block;
	float:left;
	cursor:pointer;
}

#moduleControl .Title
{
	width:278px;
	height:30px;
	line-height:30px;
	margin:0px 10px;
	font-size:13px;
	color:#454545;
	text-align:left;
}

#moduleControl #modulePanel
{
    width:100%;
    height:82px;
    padding:0px 26px; 
}

#moduleControl
{
    width:246px;
    height:auto;
    margin:0px;
    clear:both;
}